@import '../../variables.scss';

.weather {
  width: 100%;
  padding: 0 5%;
  margin-top: 20px;

  header {
    padding: 20px;
    display: flex;
    align-items: center;

    .temperature {
      font-size: 4em;
      color: $white-shadow-color;
    }

    .city {
      color: $base-yellow-color;
      font-size: 3.5em;
      font-weight: 100;
    }

    .max-min {
      margin: 5px 0 0;

      span {
        color: $primary-color;
        font-size: $base-font-size;

        &:first-child { margin: 0 50px 0 0; }
      }
    }

    .details {
      margin: 0 0 0 60px;
      display: flex;
      align-items: center;

      li:first-child {
        display: flex;
        align-items: center;

        span {
          text-transform: capitalize;
        }
      }

      li {
        margin: 0 20px 0 0;
        color: $primary-color;
        font-size: $secundary-font-size;
        font-weight: 100;
        list-style: none;
      }
    }
  }
}

