@import '../../variables.scss';

.weather-days {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
  margin-top: 20px;
}

.day {
  width: 19%;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  margin: 0 0 20px;
  background: $primary-color;
  box-shadow: 2px 2px 5px $shadow;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h4 {
    font-size: $secundary-font-size;
    color: $base-background;
  }

  .temp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;

    .min, .max {
      font-size: $secundary-font-size;
      padding: 3px 7px;
      border: 1px solid $primary-border-color;
      display: inline-block;
      border-radius: 3px;
    }
  }

  img {
    width: 50px;
    margin: 0 auto 10px;
    border: 1px solid $light-background;
    border-radius: 50%;
    background: $primary-color;
    box-shadow: 1px 1px $primary-border-color;
  }

  .all-temps {
    margin: 15px 0 10px;
    overflow: auto;
    max-height: 147px;
    min-height: 147px;

    p {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 0;
      font-size: $base-font-size;
      border-top: 1px solid $light-border-color;
      padding: 5px 0;

      strong {
        color: $secundary-color;
        font-weight: 500;
      }

      span {
        color: $base-color;
      }
    }
  }

  .conditions {
    font-size: $base-font-size;
    color: $base-color;
  }
}

.item-appear {
  opacity: 0;
  margin: -80px -80px 0 -50px;
}

.item-appear.item-appear-active {
  opacity: 1;
  background: $primary-color;
  transition: all 400ms ease-in;
}
