@import 'variables.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: $primary-font-size;
  background: $base-background;
  height: 100%;
}

.App {
  height: 100%;

  &.center-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .main-header {
      h1 {
        margin-top: 0;
        font-size: 5.5em;
      }
    }

    .wrapper-autocomplete {
      text-align: center;

      input {
        padding: 25px 10px;
        width: 800px;
        font-size: $primary-font-size;
      }
    }
  }
}

.main-header {
  h1 {
    font-weight: 300;
    font-size: 3.5em;
    color: $primary-color;
    margin: 30px 0 10px;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .3s;
  }
}

.wrapper-autocomplete {
  text-align: center;

  input {
    border: 1px solid transparent;
    padding: 15px 10px;
    width: 500px;
    font-size: $primary-font-size;
    margin: 20px auto 0;
    -webkit-transition: all .5s;
    transition: all .3s;
  }

  .item {
    text-align: left;
    padding: 10px;
    cursor: pointer;

    &.item-highlighted {
      background: $light-background;
    }
  }
}

.header-appear,
.auto-complete-appear {
  opacity: 0;
}

.header-appear-active ,
.auto-complete-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
