$base-background: #3295aa;
$light-background: #f1f1f1;

$base-color: #888;
$primary-color: #ffffff;
$secundary-color: rgb(54, 54, 54);
$base-yellow-color: rgb(252, 252, 6);
$white-shadow-color: rgba(255, 255, 255, 0.2);

$light-border-color: #fdfdfd;
$primary-border-color: #cccccc;

$base-font-size: 14px;
$primary-font-size: 16px;
$secundary-font-size: 18px;

$shadow: rgba(0, 0, 0, 0.15);
